@use '../../../../assets/styles/book-card' as *;

.home {
  padding: 0 var(--spacing-2);
  &__title {
    font-size: var(--font-size-7xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    text-align: center;
    margin-bottom: var(--spacing-8);
  }

  &__main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-4);
    margin-left: var(--spacing-5);

    &__side-menu {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      margin-top: 3.75rem;
    }

    &__books {
      width: 100%;
      grid-column: span 10;
      gap: var(--spacing-4);
      &__books-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--spacing-8);
        margin-top: var(--spacing-8);
      }

      &__book-card {
        grid-column: span 4;
        width: 80%;

        // Apply common book card styles
        @include book-card;
        @include book-card-image-hover('&');

        // Ensure Card component from shadcn works correctly
        .card {
          height: 100%;
          display: flex;
          flex-direction: column;
        }

        .card-content {
          padding: 0;
          flex-shrink: 0;
        }

        .card-footer {
          padding: 0;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }
      }

      &__book-image {
        @include book-card-image;
      }

      &__book-info {
        @include book-card-info;

        &__book-title {
          @include book-card-title;
        }

        &__book-author {
          @include book-card-author;
        }

        &__book-price {
          @include book-card-price;
        }

        &__book-description {
          @include book-card-description;
        }
      }

      &__loading,
      &__error {
        text-align: center;
        padding: var(--spacing-8);
        font-size: var(--font-size-xl);
      }

      &__error {
        color: var(--color-red-500);
      }
    }
  }
}
